!!!
%html{lang: @cms_site.locale}
  %head
    %meta{charset: 'utf-8'}
    %title{itemprop: :name}
      = [@cms_site.label, @cms_page.label].compact.join(' - ')
    %meta{name: :description, content: 'AiL - Spanischkurse, Volontariate, Praktika und High School Programme in verschiedensten Regionen Costa Ricas.'}
    %meta{name: :keywords, content: 'Spanischkurse,Costa Rica,Auslandspraktikum,Sprachschule'}

    %link{rel: 'shortcut icon', href: cms_site_asset_path(@cms_site, 'images/favicon.ico'), type: 'image/x-icon'}
    = stylesheet_link_tag :application, cms_site_handle(@cms_site).to_sym
    = stylesheet_link_tag cms_render_css_path(@cms_site.id, @cms_layout.identifier)
    = javascript_include_tag :application, :gumby
    - if @cms_page == @cms_site.pages.root
      = javascript_include_tag :slider
    = javascript_include_tag cms_render_js_path(@cms_site.id, @cms_layout.identifier)

    // Facebook Metadata - TODO: fill out!
    %meta{property: 'og:title', content: @cms_site.label}
    %meta{property: 'og:image', itemprop: 'image', content: cms_site_asset_path(@cms_site, "images/#{cms_site_handle(@cms_site)}.png")}
    %meta{property: 'og:description', content: "AiL - Spanischkurse, Volontariate, Praktika und High School Programme in verschiedensten Regionen Costa Ricas."}
    %meta{property: 'og:url', content: "http://www.#{@cms_site.hostname}"}
    %meta{property: 'fb:admins', content: ''}

    // Twitter Metadata
    %meta{property: 'twitter:card', content: 'summary'}
    %meta{property: 'twitter:url', content: "http://www.#{@cms_site.hostname}"}
    %meta{property: 'twitter:title', content: @cms_site.label}
    %meta{property: 'twitter:description', content: 'AiL - Spanischkurse, Volontariate, Praktika und High School Programme in verschiedensten Regionen Costa Ricas.'}
    %meta{property: 'twitter:image', content: cms_site_asset_path(@cms_site, "images/#{cms_site_handle(@cms_site)}.png")}

  %body{class: [@cms_layout.identifier, (@cms_page == @cms_site.pages.root) ? 'home' : 'subsection'].join(' ')}
    = yield