!!!
%html{lang: @cms_site.locale}
  %head
    %meta{charset: 'utf-8'}
    %title
      = [@cms_site.label, @cms_page.label].compact.join(' - ')
    %meta{name: :description, content: @cms_site.description }
    %meta{name: :keywords, content: @cms_site.keywords }

    %base{href: "http://#{@cms_site.hostname}/"}

    - unless @cms_site.favicon_file_name.blank?
      %link{rel: 'shortcut icon', href: cms_site_asset_path(@cms_site.favicon.url), type: 'image/x-icon'}
    = stylesheet_link_tag :application, @cms_site.handle.to_sym
    = stylesheet_link_tag cms_render_css_path(@cms_site.id, @cms_layout.identifier)
    = javascript_include_tag :application, :gumby
    - if @cms_page == @cms_site.pages.root
      = javascript_include_tag :slider
    = javascript_include_tag cms_render_js_path(@cms_site.id, @cms_layout.identifier)

    // Facebook Metadata
    %meta{name: 'og:title', content: @cms_site.label}
    %meta{name: 'og:type', content: 'website'}
    - unless @cms_site.identity_image_file_name.blank?
      %meta{name: 'og:image', content: cms_site_asset_url(@cms_site.identity_image.url)}
    %meta{name: 'og:description', content: @cms_site.description }
    %meta{name: 'og:url', content: "http://#{@cms_site.hostname}"}

    // Twitter Metadata
    %meta{name: 'twitter:card', content: 'summary'}
    %meta{name: 'twitter:url', content: "http://#{@cms_site.hostname}"}
    %meta{name: 'twitter:title', content: @cms_site.label}
    %meta{name: 'twitter:description', content: @cms_site.description }
    - unless @cms_site.identity_image_file_name.blank?
      %meta{name: 'twitter:image', content: cms_site_asset_url(@cms_site.identity_image.url)}

  %body{class: [@cms_layout.identifier, (@cms_page == @cms_site.pages.root) ? 'home' : 'subsection'].join(' ')}
    = yield