<% @cms_form = Cms::ContactForm.where(['identifier = ? AND site_id IN (?)', param_1 || params['contact_form_id'], @cms_site.mirrors.map(&:id)]).first %>
<% @contact ||= @cms_form.build_contact(params['contact'].blank? ? {} : params.fetch('contact')) %>

<div id="<%= @cms_form.identifier %>-wrapper" class="contact-form-wrapper">
  <h3><%= t(@cms_form.identifier, :scope => 'cms.contact_form.title') %></h3>
  <%= formatted_form_for [:cms, @cms_site, @cms_form, @contact], url: cms_site_contact_form_contacts_url(contact_form_id: @cms_form.id, site_id: @cms_site.id, method: :post), type: :vertical, html: { id: @cms_form.identifier } do |f| %>
      <% @cms_form.contact_fields.each do |field| %>
          <% if field.is_a?(Array) %>
          <%# encapsulate in a fieldset %>
            <% @fieldset_index ||= 0 %>
            <fieldset id="<%= @cms_form.identifier %>_set_<%= @fieldset_index += 1 %>">
              <% field.each do |subfield| %>
                  <%= contact_form_field(f, @cms_form, subfield) %>
              <% end %>
            </fieldset>
          <% else %>
            <%= contact_form_field(f, @cms_form, field) %>
          <% end %>
      <% end %>
      <% ((params['contact'] || {}).keys - @cms_form.contact_fields).each do |field| %>
          <%= hidden_field_tag "contact[#{field}]", params['contact'][field] %>
      <% end %>
      <%= hidden_field_tag 'referring_page', page_path(@cms_page, false) %>
      <span class="hint"><%= t(:required_hint, :scope => 'cms.contact_form', :symbol => '*') %></span>
      <div class="button-group">
      <% if @cms_site.css_framework.underscore.to_sym == :gumby %>
          <div class="medium primary btn">
            <button type='submit' form='<%= @cms_form.identifier %>'>
              <% if @cms_form.contact_form.nil? %>
              <%= t((@cms_form.submit_label || :submit), :scope => 'cms.contact_form') %>
              <% else %>
              <%= t((@cms_form.submit_label || :continue), :scope => 'cms.contact_form') %>
              <% end %>
            </button>
          </div>
          <div class="medium default btn">
            <button type='reset' form='<%= @cms_form.identifier %>'><%= t((:cancel), :scope => 'cms.contact_form') %></button>
          </div>
      <% else %>
          <button type='submit' form='<%= @cms_form.identifier %>' class="btn btn-small btn-primary pull-right"><%= t((@cms_form.submit_label || :submit), :scope => 'cms.contact_form') %></button>
          <button type='reset' form='<%= @cms_form.identifier %>' class="btn btn-small pull-right"><%= t((:cancel), :scope => 'cms.contact_form') %></button>
      <% end %>
      </div>
  <% end %>
</div>