<% group = (defined?(param_1) ? @cms_page.site.groups.files.where(hierarchy_path: param_1).first : nil) %>
<% klass = (defined?(param_2) ? param_2 : 'three') %>
<% unless group.nil? %>
    <% images = image_content_for_group(group) %>
<% end %>
<ul id="teaser-group" class="tiles <%= klass %> up">
  <% images.each do |image| %>
      <li class="teaser">
        <% unless image[:src].blank? %>
            <a class="fancybox" href="<%= image[:src] %>" title="<%= image[:title] %>" data-fancybox-group="<%= image[:group] %>'">
              <%= image_tag(image[:normal]) %>
            </a>
        <% else %>
            &nbsp;
        <% end %>
      </li>
  <% end %>
</ul>
<br/>