= render 'admin/cms/partials/file_form_before', :object => form

= form.text_field :label
= form.file_field :file, :multiple => @file.new_record?
- if (options = simple_options_group_select_for(@file)).present?
  = form.select :group_id, options

- unless @file.new_record?
  = form.element t('.current_file') do
    = image_tag @file.file.url, class: :image_preview if @file.is_image?
    = link_to @file.file.url, @file.file.url, :target => '_blank'

= content_for_ajax :meta_pane do
  = comfy_form_for @file, as: :file, url: { action: @file.new_record? ? :create : :update}, type: :vertical do |metaform|
    = render :partial => 'admin/cms/categories/form', :object => metaform
    - @locales = @site.mirrors.map(&:locale)
    %ul.nav.nav-tabs
      - @locales.each do |locale|
        %li{class: (@site.locale == locale ? 'active' : '')}
          %a{data: {toggle: :tab}, href: "#description_#{locale}"}
            = locale.upcase
    %div#description_per_locale.tab-content
      - @locales.each do |locale|
        %div{id: "description_#{locale}", class: "tab-pane fade#{@site.locale == locale ? ' in active' : ''}"}
          .control-group
            %label.control-label{for: "file_description_#{locale}"}
              = "#{t(:description, :scope => 'activerecord.attributes.cms/file')} (#{locale.upcase})"
            .controls
              = text_area_tag "file[description_#{locale}]", @file.send("description_#{locale}"), cols: 8
    - unless @file.new_record?
      %button.btn.btn-small.btn-primary.pull-right
        = t('.update')

= render :partial => 'admin/cms/categories/form', :object => form

= render 'admin/cms/partials/file_form_after', :object => form

- if request.xhr?
  :javascript
    $('#cms-current-context span').text('#{escape_javascript(current_context_title(nil))}')

.form-actions
  = form.submit t(@file.new_record?? '.create' : '.update'), :class => 'btn btn-primary'