<div id="main_nav" class="row navbar" gumby-fixed="top">
    <a class="toggle" gumby-trigger="#main_nav > li" href="#"><i class="icon-menu"></i></a>
    <ul>
      <% if defined?(param_1) && param_1 %>
        <%# HOME link %>
        <li class="home">
          <%= link_to defined?(param_2) ? content_tag(:i, '', :class => param_2) : @cms_site.pages.root.label, page_path(@cms_site.pages.root) %>
        </li>
      <% end %>
      <% @cms_site.pages.root.children.published.each do |page| %>
        <li class="<%= (@cms_page.slug == page.slug) ? 'active' : '' %>">
            <%= link_to page.label, page_path(page) %>
            <% unless page.children.published.empty? %>
            <div class="dropdown">
              <ul class="subnav">
                <% page.children.published.each do |subpage| %>
                    <li class="<%= (@cms_page.slug == subpage.slug) ? 'active' : '' %>">
                      <%= link_to subpage.label, page_path(subpage) %>
                      <% unless subpage.children.published.empty? %>
                      <div class="dropdown">
                        <ul class="subnav2">
                        <% subpage.children.published.each do |subsubpage| %>
                        <li class="<%= (@cms_page.slug == page.slug) ? 'active' : '' %>">
                          <%= link_to subsubpage.label, page_path(subsubpage) %>
                        </li>
                        <% end %>
                        </ul>
                      </div>
                      <% end %>
                    </li>
                <% end %>
              </ul>
            </div>
            <% end %>
        </li>
      <% end %>
    </ul>
</div>