<%= formatted_form_for(resource, as: resource_name, url: session_path(resource_name), type: :vertical) do |f| %>
    <h2>Coruscope CMS <%= t(:sign_in, :scope => 'devise.labels') %></h2>
    <%= f.email_field :email, :autofocus => true, :class => 'input', :placeholder => t(:email, :scope => 'devise.labels') %>
    <%= f.password_field :password, :class => 'input', :placeholder => t(:password, :scope => 'devise.labels') %>
    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me, :label => t(:remember_me, :scope => 'devise.labels') %>
    <% end %>
    <%= f.submit t(:sign_in, :scope => 'devise.labels') %>
<% end %>
<% content_for :right_column do %>
</br></br></br></br></br></br></br></br></br>
<% if devise_mapping.rememberable? %></br><% end %>
<%= render "devise/shared/links" %>
<% end %>
