.tab-content.column-content
  #sites-tree.tab-pane
  #pages-tree.tab-pane.active
  #layouts-tree.tab-pane
  #snippets-tree.tab-pane
  #files-tree.tab-pane
  #meta_pane.tab-pane
    = yield :meta_pane

- if @site && !@site.new_record?
  != javascript_tag do
    enableFancytree('#sites-tree', '#{admin_cms_sites_url(format: :json)}');
    enableFancytree('#pages-tree', '#{admin_cms_site_pages_url(site_id: @site.id, format: :json)}');
    enableFancytree('#layouts-tree', '#{admin_cms_site_layouts_url(site_id: @site.id, format: :json)}');

- unless Cms::Snippet.where(site_id: @site.id).empty?
  != javascript_tag do
    enableFancytree('#snippets-tree', '#{admin_cms_site_snippets_url(site_id: @site.id, format: :json)}');

- unless Cms::File.where(site_id: @site.id).empty?
  != javascript_tag do
    enableFancytree('#files-tree', '#{admin_cms_site_files_url(site_id: @site.id, format: :json)}');

.content-actions
  = yield :right_column


