<p><%= t(:hello, :scope => 'devise.mailer.reset_password_instructions', :email => @resource.email) %></p>

<p><%= t(:body, :scope => 'devise.mailer.reset_password_instructions') %></p>

<p><%= link_to t(:link_text, :scope => 'devise.mailer.reset_password_instructions'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t(:ignore_notice, :scope => 'devise.mailer.reset_password_instructions') %></p>
<p><%= t(:change_hint, :scope => 'devise.mailer.reset_password_instructions') %></p>
