= render 'admin/cms/partials/site_form_before', :object => form

= form.text_field :label, :data => {:slugify => @site.new_record?}
= form.text_field :identifier, :data => {:slug => true}
= form.text_field :hostname
= form.text_field :path
= form.select :locale, ComfortableMexicanSofa.config.locales.to_a.collect{|l| [l[1], l[0]]}
= form.check_box :is_mirrored, :label => t('.is_mirrored')

= render 'admin/cms/partials/site_form_after', :object => form

- if request.xhr?
  :javascript
    $('#cms-current-context span').text('#{escape_javascript(current_context_title(nil))}')

.form-actions
  = form.submit t(@site.new_record?? '.create' : '.update'), :class => 'btn btn-primary'
  =# TODO: add convenience copying of form input values to mirror site creation
  - unless @site.new_record?
    = link_to t('create_mirror', :scope => 'admin.cms.sites.edit'), new_admin_cms_site_path, class: 'btn'